@using BobsComponent.Library
@using BobsComponent.Library.Components
@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row">
            <VersionBadge />
            <ThemePicker />
        </div>

        <article class="content">
            @Body
        </article>
    </main>
</div>