@using BobsComponent.Library.Components
@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
            <ThemePicker />
        </div>

        <article class="content">
            @Body
        </article>
    </main>
</div>
