@using BobsComponent.Library
@namespace BobsComponent.Library.Components

<span class="version-badge" data-testid="version-badge">v@(AppVersion.Version)</span>

@code {
    // No parameters needed - version is constant
}
