@page "/textboxdoc"

<h1>Textbox</h1>
<p>Basic Textbox examples</p>

<div>
    <p>Change the type of textbox on the fly.</p>
    <BobsTextbox @bind-Value="ExampleTextboxType">@ExampleTextboxType</BobsTextbox>
    <BobsTextbox TextBoxType="text"></BobsTextbox>
</div>