@page "/"

<PageTitle>Bobs Components</PageTitle>

<h1>Bobs Components</h1>

<style>
  .fold {
    transform-style: preserve-3d;
  }

  @@keyframes fold-in {
    to {
      transform: rotateX(-180deg) translateZ(1px);
      background-color: rgb(250, 17, 17);
    }
  }

  @@keyframes hide-bob {
    to {
      transform: rotateX(180deg) translateZ(-1px);
      display: none;
    }
  }

  .bobs-container {
    --duration: 2000ms;
    --easing: cubic-bezier(0.92, -0.29, 0, 1.23);
    --totalfold: 4;
    --fold-duration: calc(var(--duration) / var(--totalfold));
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
    width: 100dvw;
    height: 100dvh;

    .fold {

      position: absolute;
      top: 100%;
      left: 0;
      height: 100%;
      width: 100%;
      transform-origin: bottom center;
      background-color: #8af7ff;
      backface-visibility: visible;
      outline: 2px solid rgb(250, 17, 17);
      animation: fold-in var(--fold-duration) var(--easing) both;
      animation-delay: calc(var(--fold) * var(--fold-duration) * 0.8);
    }

    >.fold {
      height: 25%;
      width: 100%;
      top: 0;
      left: 0;
      outline: 2px solid rgb(250, 246, 17);
      animation: fold-in var(--fold-duration) var(--easing) both;
      animation-delay: calc(var(--fold) * var(--fold-duration) * 0.8);
    }

  }
</style>


<div class="bobs-container">
  <div class="fold" style="--fold: 0">
    <div class="fold" style="--fold: 1">
      <div class="fold" style="--fold: 2">
        <div class="fold" style="--fold: 3">
        </div>
      </div>
    </div>
  </div>
</div>

@code {
  // https://codepen.io/team/keyframers/pen/bGdebPM
  // example here
}