@page "/"

<PageTitle>BobsComponents - Home</PageTitle>

<h1>Welcome to BobsComponents</h1>

<p>A modern Blazor component library with beautiful micro-interactions and glassmorphism design.</p>

<h2>Component Showcases</h2>
<ul>
    <li><NavLink href="microactions">MicroActions - Async Loading States</NavLink></li>
    <li><NavLink href="inputexamples/button">Button Examples</NavLink></li>
    <li><NavLink href="inputexamples/dropdown">Dropdown Examples</NavLink></li>
</ul>
